
section {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 2em;
    padding: 2em;
    overflow: auto;
}

.blogs > div{
    height: 15vh;
}
.blogs > div > img {
    height: 100%;
    width: 30%;
    float: left;
    object-fit: cover;
    
}

.blogs > div > div{
    height: 100%;
    margin-left: 1em;
    background: #2BDB71;
    color: white;
    box-shadow: 0px 3px 6px grey;
    border-radius: 25px;
    width: 60%;
    float: left;
}


.social-section > i:hover {
    cursor: pointer;
}


